@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
:root {
  --color-primary: #1e0f00;
  --color-secondary: #c09366;
  --color-tertiary: #eadbcc;
  --color-text-light: #f5ede6;
  --color-text-dark: #0f0700;
  --display-font: "Abril Fatface", serif;
  --text-font: "Lato", sans-serif;
  --shadow-dark: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  --shadow-light: 0 1rem 4rem rgba(0, 0, 0, 0.1); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2rem); }
  50% {
    opacity: 1;
    transform: translateX(2rem); }
  100% {
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

/*

Typography System
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
body {
  font-family: var(--text-font);
  padding: 2rem; }

.heading-primary {
  font-family: var(--display-font);
  font-size: 7.4rem;
  font-weight: 100;
  letter-spacing: -1px; }

.heading-secondary {
  font-family: var(--display-font);
  font-size: 5.2rem; }

.heading-tertiary {
  font-family: var(--display-font);
  font-size: 3.6rem; }

.text {
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  line-height: 1.5; }

.mb-xs {
  margin-bottom: 1rem; }

.mb-sm {
  margin-bottom: 2.4rem; }

.mb-md {
  margin-bottom: 4.8rem; }

.mb-md {
  margin-bottom: 8rem; }

.mb-lg {
  margin-bottom: 9.6rem; }

.text-center {
  text-align: center; }

.animate {
  animation: backwards moveInBottom 1s ease 0.5s; }

.hidden {
  opacity: 0; }

.sticky {
  display: block;
  position: fixed;
  width: 80%;
  z-index: 100;
  top: 2%;
  left: 50%;
  transform: translate(-50%); }

.btn-contact {
  border: none;
  background: none;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  padding: 2.4rem 6rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s; }
  .btn-contact:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow-dark); }
  .btn-contact:active {
    transform: translateY(0);
    box-shadow: vaer(--shadow-light); }

.btn-order {
  border: none;
  background: none;
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
  padding: 1.4rem 4rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s; }
  .btn-order:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow-dark); }
  .btn-order:active {
    transform: translateY(0);
    box-shadow: vaer(--shadow-light); }

.card {
  box-shadow: var(--shadow-dark); }
  .card__img-box {
    width: 100%; }
    .card__img-box img {
      width: 100%;
      object-fit: cover; }
  .card__content {
    padding: 2rem; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  border: 2px solid var(--color-text-light);
  padding: 2rem;
  font-weight: 300;
  animation: moveInLeft 1s ease 0.1s; }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      display: none; } }
  .navigation__logo {
    font-family: var(--display-font);
    font-size: 3.2rem;
    text-decoration: none;
    color: inherit; }
  .navigation__list {
    list-style: none;
    display: flex;
    gap: 2rem; }
  .navigation__item {
    display: flex;
    align-items: center; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-size: 2.4rem;
    transition: all 0.3s;
    border-bottom: 4px solid transparent;
    padding: 1rem;
    position: relative; }
    .navigation__link:link::after, .navigation__link:visited::after {
      display: inline-block;
      content: "";
      width: 100%;
      height: 4px;
      background-size: 210%;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-secondary) 50%);
      position: absolute;
      top: 100%;
      left: 0;
      transition: all 0.3s; }
  .navigation__link:hover::after, .navigation__link:active::after {
    background-position: 100%; }
  .navigation__signin {
    border: none;
    background: none;
    background-color: var(--color-secondary);
    color: var(--color-text-dark);
    font-size: 2.4rem;
    font-family: var(--display-font);
    padding: 1.2rem 4rem;
    cursor: pointer;
    transition: all 0.3s; }
    .navigation__signin:hover {
      transform: translateY(-4px); }
    .navigation__signin:active {
      transform: translateY(0); }

.header-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .header-grid {
      grid-template-columns: 1fr; } }

.grid-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 37.5em) {
    .grid-2-cols {
      grid-template-columns: 1fr; } }

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  @media only screen and (max-width: 37.5em) {
    .grid-3-cols {
      grid-template-columns: 1fr; } }

.footer {
  min-height: 60rem;
  background-color: var(--color-tertiary);
  color: var(--color-text-light); }
  .footer__grid {
    padding: 4rem; }
    .footer__grid-item {
      color: var(--color-text-dark);
      padding: 4rem; }
      .footer__grid-item-img img {
        width: 90%; }
      .footer__grid-item-img-2 img {
        width: 60%; }
  .footer__icon {
    height: 3.5rem;
    width: 3.5rem; }
  .footer__link:link, .footer__link:visited {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    color: inherit;
    font-size: 2.4rem;
    font-family: var(--display-font);
    transition: all 0.3s; }
  .footer__link:hover {
    transform: translateY(-4px); }
  .footer__link:active {
    transform: translateY(0); }
  .footer__end {
    background-color: var(--color-primary);
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem; }
    .footer__end span {
      display: inline-block; }

.header {
  min-height: 95vh;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  padding: 4rem 9.6rem 9.6rem 9.6rem; }
  .header__content-box {
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: 1.2px;
    line-height: 1.5;
    max-width: 120rem;
    margin: 0 auto; }
  .header__content-img {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(/img/hero.jpg);
    background-size: cover;
    background-position: center;
    animation: backwards moveInLeft 1s ease 0.5s; }
    @media only screen and (max-width: 56.25em) {
      .header__content-img {
        height: 70%; } }
    @media only screen and (max-width: 37.5em) {
      .header__content-img {
        display: none; } }
  .header__content-text {
    animation: moveInBottom 1s ease 0.01s; }
  .header__content-btn-box {
    display: flex;
    gap: 2rem; }
  .header__btn {
    border: none;
    background: none;
    padding: 2rem 4rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s; }
    .header__btn-full {
      background-color: var(--color-text-light);
      color: var(--color-text-dark); }
    .header__btn-outline {
      border: 1px solid var(--color-text-light);
      color: var(--color-text-light); }
    .header__btn:hover {
      transform: translateY(-4px); }
    .header__btn:active {
      transform: translateY(0); }

.about {
  background-color: var(--color-tertiary);
  padding: 9.6rem; }
  .about__grid {
    margin: 0 auto;
    gap: 4rem; }
  .about__img {
    width: 80%;
    margin: 0 auto; }
    .about__img img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      box-shadow: var(--shadow-dark); }
    @media only screen and (max-width: 56.25em) {
      .about__img {
        width: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .about__img-1 {
        order: 0; } }
    @media only screen and (max-width: 37.5em) {
      .about__img-2 {
        order: 3; } }
  .about__text {
    align-content: center;
    font-size: 2.4rem;
    letter-spacing: 1.2px;
    line-height: 1.5;
    width: 80%;
    margin: 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .about__text {
        width: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .about__text-1 {
        order: 2; } }
    @media only screen and (max-width: 37.5em) {
      .about__text-2 {
        order: 4; } }

.menu {
  min-height: 60rem;
  padding: 9.6rem;
  background-color: var(--color-secondary); }
  .menu__grid {
    gap: 4rem;
    max-width: 120rem;
    margin: 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .menu__grid {
        grid-template-columns: 1fr; } }
    .menu__grid-item {
      min-height: 60rem;
      background-color: var(--color-text-dark);
      color: var(--color-text-light); }
      @media only screen and (max-width: 56.25em) {
        .menu__grid-item {
          width: 60%;
          margin: 0 auto; } }
      @media only screen and (max-width: 56.25em) {
        .menu__grid-item {
          width: 90%;
          margin: 0 auto; } }

.testimonials {
  min-height: 60rem;
  background-color: var(--color-tertiary);
  padding: 9.6rem;
  position: relative; }
  .testimonials__img-box {
    width: 14rem;
    height: 14rem;
    margin: 0 auto;
    transform: translateY(4rem); }
    .testimonials__img-box img {
      max-width: 100%;
      border-radius: 100%;
      border: 4px solid var(--color-text-light); }
  .testimonials__content {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    padding: 8rem;
    max-width: 70%;
    margin: 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .testimonials__content {
        max-width: 100%; } }
  .testimonials__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-light);
    height: 6rem;
    width: 6rem;
    border: none;
    background: none;
    border-radius: 50%;
    background-color: var(--color-primary);
    cursor: pointer; }
    .testimonials__btn-left {
      position: absolute;
      top: 70%; }
      @media only screen and (max-width: 56.25em) {
        .testimonials__btn-left {
          left: 1%; } }
    .testimonials__btn-right {
      position: absolute;
      top: 70%;
      right: 8%; }
      @media only screen and (max-width: 56.25em) {
        .testimonials__btn-right {
          right: 1%; } }
    .testimonials__btn .testimonials__icon {
      fill: var(--color-text-light); }
  .testimonials__text {
    font-size: 2.4rem; }
  .testimonials__rating {
    max-width: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: center; }
  .testimonials__icon {
    fill: var(--color-secondary);
    width: 3.2rem;
    height: 3.2rem; }
  .testimonials__author {
    font-family: var(--display-font);
    font-size: 2.4rem; }

.cta {
  min-height: 30rem;
  background-color: var(--color-secondary);
  padding: 9.6rem; }
  .cta__grid {
    gap: 2rem; }
    .cta__grid-item {
      padding: 2rem;
      font-size: 2rem;
      font-weight: 700; }
      .cta__grid-item form {
        display: flex;
        gap: 0.5rem;
        width: 100%; }
        .cta__grid-item form input {
          width: 80%;
          padding: 2rem 4rem;
          border: none;
          outline: none;
          border-bottom: 4px solid var(--color-primary);
          font-size: 1.6rem; }
          .cta__grid-item form input::placeholder {
            font-size: 1.6rem;
            text-transform: uppercase; }
          .cta__grid-item form input:focus {
            border-bottom: 4px solid green; }
            .cta__grid-item form input:focus:invalid {
              border-bottom: 4px solid orangered; }
        .cta__grid-item form button {
          width: 20%;
          text-transform: uppercase;
          font-size: 1.6rem;
          border: none;
          background: none;
          background-color: var(--color-primary);
          border-radius: 4px;
          color: var(--color-text-light);
          cursor: pointer; }
