:root {
  --color-primary: #1e0f00;
  --color-secondary: #c09366;
  --color-tertiary: #eadbcc;

  --color-text-light: #f5ede6;
  --color-text-dark: #0f0700;

  --display-font: "Abril Fatface", serif;
  --text-font: "Lato", sans-serif;

  --shadow-dark: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  --shadow-light: 0 1rem 4rem rgba(0, 0, 0, 0.1);
}
