:root {
  --display-font: "Playfair Display", serif;

  --color-primary: #0f0700;
  --color-secondary: #ab6f33;

  --color-text-dark: #0f0700;
  --color-text-light: #f5ede6;

  --shadow-dark: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  --shadow-light: 0 1rem 4rem rgba(0, 0, 0, 0.1);
}
