.features {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  padding: 4rem;
  display: flex;

  justify-content: center;
  gap: 4rem;
  font-size: 1.6rem;
  text-transform: capitalize;

  @include respond(phone) {
    flex-direction: column;
    align-items: center;
  }
}
